@font-face {
    font-family: 'Header'; /* Name your font family */
    src: url('fonts/Redemption\ demo.ttf'); 
}

@font-face {
    font-family: 'MainFont';
    src: url('fonts/Mainlux-Light\ 2.otf');
}


body {
    background-color: rgb(230,230,230);
}

a {
    text-decoration: none;
    color: rgb(100,100,100);
}

a:hover {
    color: rgb(0,0,0);
}

li {
    margin: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(100,100,100);
}

h2 {
    text-align: center;
    font-size: 25px;
}

#container {
    margin:auto;
    width: 80%;
}

#header {
    background-color: rgb(245,245,245);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    font-family:'Header';
    font-size: 80px;
    text-align: center;
    padding: 30px;
    margin:auto;
    margin-top: 50px;  
    border-radius: 3px;
}


#nav-bar {
    display: flex;
    flex-direction: row;
    margin-top:-30px;
    margin-left: 30px;
}

.nav-option {
    background-color: rgb(245,245,245);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    font-family: 'MainFont';
    font-size: 25px;
    padding: 20px;
    margin: 5px;
    margin-left:0px;
    border: none;
    border-radius: 5px;
}

.nav-option:hover {
    color: rgb(255,255,255);
    background-color: rgb(20,20,20);
}

.content-section {
    color: rgb(65,65,65);
    background-color: rgb(245,245,245);
    margin: auto;
    margin-top: 20px;
    width: 100%;
    padding: 30px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.paragraph {
    display: block;
    text-indent: 0px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2.5rem;
    font-size: 24px;
}

.definition {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffd0b7;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 24px;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
}

.definition-title {
    text-align: center;
}

.exercise {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 40px;  
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

.text-indent-block {
    display: block;
    margin: auto;
    width: 85%;
}

.exercise h2 {
    margin-bottom: 50px;
}

.solution-dropdown {
    margin: 10px 0;
}

.solution-dropdown button {
    background-color: #007bff;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.solution-dropdown button:hover {
    background-color: #0056b3;
}

.solution {
    display: none;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}




.footer {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: #111;
    background: #ddd;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 15px;
    
}

.footer-base {
    margin: auto;
    padding: 100px;
    background: #ddd;
    border-top: 1px solid #444;
}